<div id="page_wrapper">
    <div id="container">
    <div id="profile_image">
        <%= image_tag "profile.jpeg" %>
    </div>
        <h1 id="post_content">Lorz Da Gr8</h1>
        <p id="post_content">
        Hammock tattooed cray shabby chic quis velit PBRB readymade messenger bag twee tbh green juice dolore. Air plant wolf pop-up ut before they sold out distillery. Incididunt cold-pressed selfies cornhole vinyl in etsy tacos pabst. Labore prism pabst subway tile paleo excepteur migas keytar occupy quinoa dolore biodiesel kale chips affogato kitsch. Semiotics fam pork belly marfa, artisan aute hella pug magna shaman nisi lorem you probably haven't heard of them ullamco. Affogato whatever irony distillery bespoke. Anim church-key paleo, DIY next level mustache kogi put a bird on it cred artisan squid.
<br />
       <br />
        Proident kitsch health goth thundercats ramps yr drinking vinegar minim twee organic iceland forage mumblecore cillum artisan. Exercitation retro pickled, ugh quis eiusmod tempor mlkshk. Locavore mumblecore neutra tumblr. Incididunt dolore distillery do hexagon, salvia tempor messenger bag hammock everyday carry vape whatever try-hard adipisicing.
        </p>
    </div>
</div>